pre.terminal {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding-top: 1.2em;
  position: relative;
}

pre.terminal,
pre.terminal kbd,
pre.terminal tt {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre.terminal-fade code tt,
pre.terminal-fade code span.terminal-delimiter,
pre.terminal-fade code span.terminal-path,
pre.terminal-fade code span.terminal-prompt {
  transition: opacity 0.3s ease-in-out;
}

pre.terminal-fade:hover code tt,
pre.terminal-fade:hover code span.terminal-delimiter,
pre.terminal-fade:hover code span.terminal-path,
pre.terminal-fade:hover code span.terminal-prompt {
  opacity: 0.3;
}

pre.terminal i#terminal-copy {
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out;
}

pre.terminal:hover i#terminal-copy {
  opacity: 1;
}

#terminal-textarea {
  height: 0;
  position: fixed;
  top: -1000px;
  width: 0;
}

pre.terminal-black {
  background-color: #222;
  color: #dedede;
}

pre.terminal-black .terminal-prompt {
  font-weight: bold;
}

pre.terminal-classic {
  background-color: black;
  color: lawngreen;
}

pre.terminal-classic .terminal-error {
  color: red;
}

pre.terminal-classic .terminal-warning {
  color: orange;
}

pre.terminal-flat {
  background-color: #2b3d50;
  color: #dedede;
}

pre.terminal-flat .terminal-delimiter {
  color: #60b0e5;
}

pre.terminal-flat .terminal-error {
  color: #f55
}

pre.terminal-flat .terminal-prompt {
  color: #28c66e;
}

pre.terminal-flat .terminal-warning {
  color: #d93;
}

pre.terminal-ubuntu {
  background-color: #300b24;
  color: #b8c4c5;
}

pre.terminal-ubuntu .terminal-error {
  color: #e22227;
}

pre.terminal-ubuntu .terminal-path {
  color: #475ca0;
}

pre.terminal-ubuntu .terminal-prompt {
  color: #84cc40;
}

pre.terminal-ubuntu .terminal-warning {
  color: #d93;
}
